#DROOS1, #DROOS2
{
   width: 35px;
   height: 40px;
   border: 1px solid black;
 }
 
.container 
{
    background: url(csg-53458489b60f3.png) no-repeat top left;
}
 
.DOWN1wwwimagesplitternet-0-0{ background-position: 0 0; width: 32px; height: 48px; } 
.DOWN2wwwimagesplitternet-0-1{ background-position: -82px 0; width: 32px; height: 48px; } 
.DOWN3wwwimagesplitternet-0-2{ background-position: -164px 0; width: 32px; height: 48px; } 
.DOWN4wwwimagesplitternet-0-3{ background-position: -246px 0; width: 32px; height: 48px; } 
.LEFT1wwwimagesplitternet-2-0{ background-position: -328px 0; width: 32px; height: 48px; } 
.LEFT2wwwimagesplitternet-2-1{ background-position: -410px 0; width: 32px; height: 48px; } 
.LEFT3wwwimagesplitternet-2-2{ background-position: -492px 0; width: 32px; height: 48px; } 
.LEFT4wwwimagesplitternet-2-3{ background-position: -574px 0; width: 32px; height: 48px; } 
.RIGHT1wwwimagesplitternet-1-0{ background-position: -656px 0; width: 32px; height: 48px; } 
.RIGHT2wwwimagesplitternet-1-1{ background-position: -738px 0; width: 32px; height: 48px; } 
.RIGHT3wwwimagesplitternet-1-2{ background-position: -820px 0; width: 32px; height: 48px; } 
.RIGHT4wwwimagesplitternet-1-3{ background-position: -902px 0; width: 32px; height: 48px; } 
.UP1wwwimagesplitternet-3-0{ background-position: -984px 0; width: 32px; height: 48px; } 
.UP2wwwimagesplitternet-3-1{ background-position: -1066px 0; width: 32px; height: 48px; } 
.UP3wwwimagesplitternet-3-2{ background-position: -1148px 0; width: 32px; height: 48px; } 
.UP4wwwimagesplitternet-3-3{ background-position: -1230px 0; width: 32px; height: 48px; } 
